.container{
  border: 2px solid;
  display:grid;
  gap:10px;
  height:100vh; 
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: 
  "a b b c"
  "a d e f"
  "a g h f";
}  
.item{
  background-color: blue;
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
}
.item-1{
  background-color: green;
  /* grid-column: 1/2;
  grid-row: 1/4; */
  grid-area: a;
}
.item-2{
  background-color: green;
  /* grid-column: 2/4; */
  grid-area: b;
}
.item-3{
  background-color: red;
  grid-area: c;
}
.item-4{
  background-color: yellow;
  grid-area: d;
}
.item-5{
background-color: red;
grid-area: e;
}
.item-6{
  background-color: green;
  /* grid-column: 4/5;
  grid-row: 2/4; */
  grid-area: f;
}
.item-7{
  background-color: red;
  grid-area: g;
}
.item-8{
  background-color: yellow;
  grid-area: h;
}